body{
    margin:0;
    padding:0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*<---CARD-->*/
.card{
    background-color:white;
    width: 330px;
    height: max-content;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
}

/*<---IMG HEADER--->*/
.header-img img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*<--TTILE AND DESCRIPTION-->*/
.title-description h1{
    font-size: 1.3em;
    text-align: center;
    color:hsl(223, 47%, 23%);
    font-weight: 850;
}
.title-description p{
    text-align: center;
    color:hsl(224, 23%, 55%);
    font-size: 0.9em;
    padding-right: 3em;
    padding-left: 3em;
    line-height: 1.5em;
}
/*<--PLAN-->*/
.plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(222, 18%, 78%, 0.137);
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: max-content;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.plan-year{
    margin-left:-25px;
}
.plan .plan-year h1{
    color:hsl(223, 47%, 23%);
    font-weight: 850;
    font-size: 0.9em;
    margin: 0px;
    margin-bottom: 4px;
}
.plan .plan-year p{
    color:hsl(224, 23%, 55%);
    font-size: 0.9rem;
    margin: 0px;
}
.plan a{
    font-size: 0.75rem;
    
}

/*<--BUTTONS-->*/
.buttons{
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
}
.button-payment{
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding: 1.3em 5em;

}