body{
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);

    
}
.main-content{
    background-color: white;
    border-radius: 1.25rem;
    box-sizing: border-box;
    height: max-content;

}
header{
    height: 140px;
}

.main-content header .background svg{
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 0.0625rem hsl(0, 0%, 80%); 
    padding: 0.9375rem;
}
.profile{
    width: 6.5625rem;
    height: 6.5625rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.375rem;
}
.profile img{
    border-radius: 50%;
}

.name-age{
    display: flex;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0px;
    gap: 10px;
}
.name-age h1{
    color:hsl(229, 23%, 23%); 
    margin-bottom: 0;  
}
.name-age h2{
    margin-bottom: 0;
    font-weight: 500;
    color: hsl(0, 0%, 59%);

}
.country p{
    margin-top: 0.5625rem;
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    color: hsl(0, 0%, 59%);
}

.info{
    display: flex;
    justify-content: space-around;
    padding:15px 20px;
}
.info h1{
    font-size: 1em;
    margin-bottom: -0.625rem;
    color:hsl(229, 23%, 23%); 
}
.info p{
    font-size: 0.7em;
    color: hsl(0, 0%, 59%);
}
.followers{
    text-align: center;
}

.likes{
    text-align: center;
}
.photos{
    text-align: center;
}
