body{
    padding:0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;

}
.main-content{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*<----CARD----->*/
.card{
    background-color: hsl(216, 50%, 16%);
    width: 280px;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}
.background img{
    width: 281px;
    height: 281px;
}

/*<---title---->*/
.title h1{
    font-size: 1.3em;
    color: hsl(0, 0%, 100%);
}
/*<---description--->*/
.description {
    font-size: 0.93em;
    line-height: 27px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 0px;
}

/*<---date---->*/
.date{
    display: flex;
    justify-content: space-between;
    border-bottom: hsl(210, 31%, 30%) solid 1px;
}
.eth{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.eth img{
    height: 15px;
    margin-right: 5px;
}
.eth h1{
    font-size: 0.9em;
    color: hsl(178, 100%, 50%);
}

.day{
    display: flex;
    align-items: center;
}
.day img{
    height: 20px;
    margin-right:5px;
}
.day p{
    font-size: 0.9em;
    color: hsl(215, 51%, 70%);
}

/*<----Footer---->*/
.footer{
    display: flex;
    align-items: center;
    padding-top: 10px;

}
.footer img{
    height: 35px;
    margin-right: 13px;
}
.footer .creation{
    color:hsl(215, 51%, 70%);
    margin-right: 7px;
}
.footer .name{
    color:hsl(0, 0%, 100%) ;
}