*,
    *::after,
    *::before {
      box-sizing: border-box;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
.logo{
    min-width: 9.375rem;
    color: black;
    padding-left: 5em;
}
nav a{
    text-decoration: none;
    padding: 1em 0.7em;
    color: #a489c2;
    
}
nav a:hover{
    background-color: #390179;
    color: #FFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img{
    width: 100%;
    height: auto;
}
.main-container{
    padding: 0px;
}
/*<----- First container---->*/
.image-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5em;
}
.inicio{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    
}
article button{
    padding: 1em;
    width: 11em;
    background-color: #CA9EE3;
    color: white;
    border: none;
    border-radius: 0.4em;
}
article h2{
    font-size: 3em;
    margin: 0px;
    color: #a489c2;
}
article p{
    color: #A489C2;
    font-size: 1.5rem;
}
